#macos
.DS_Store

#agent
.agents
.gemini

# mkdocs build output
site/
.cache/

# written by tools/install_skills.sh - machine-specific path, never commit
book_path.txt

# python
__pycache__/
*.py[cod]
.venv/
venv/
